@model ComicBook

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>title</title>
</head>
<body>
<div>
    <div>Comic Book Id: @Model.ComicBookId</div>
    <div>Title: @Model.Title</div>
    <div>Author: @Model.Author</div>
    <div>Price: @Model.PricePerDay</div>
</div>
</body>
</html>